  

  
  <h4>CPU Utilization </h4>

  <p>
  <table style="float: left;">
    <tr>
      <th></th><th>user ticks</th><th>system ticks</th><th>total</th>
    </tr>

<%
for d in data:
    # begin
%>
    <tr>
      <td><%="%s %s" % (d[1], d[0]) %></td>
      <td><%="%d" % int(d[2]) %></td>
      <td><%="%d" % int(d[3]) %></td>
      <td><%="%d" % int((d[2]+d[3])) %></td>
    </tr>
<%
# end
%>
  </table>

  <p>
  <img src="cpu/graph?s=86400&l=1"><br>   
  <img src="cpu/graph?s=2592000&l=1"><br>
  <img src="cpu/graph?s=7776000"><br>

