
<h4>Firewall (Beta)</h4>

<div style="text-align: center;">

<form method="POST" action="fw_set" name="fw_form">

<script language="javascript">
  function set_port(n) {
    var port_sel = document.fw_form['port_sel'+n];
    var port = port_sel.options[port_sel.selectedIndex].value;
    var port_field = document.fw_form['port'+n];
    port_field.value = port;
  }
</script>

<p style="text-align: left; padding-left: 1em; border: 0; color: #708491; font-size: smaller;">
First select the default firewall mode (ALLOW ALL or DENY ALL), then specify
the port and protocol for the exceptions. The IPs field can be used to restrict
a specific port to a list of space-separated IP numbers. You can also specify 
networks here using the / notation, e.g. 10.10.10.0/24.
</p>

<p style="text-align: left;">
      <input name="mode" type="radio" value="allow" checked><b>ALLOW ALL traffic</b>
      <input name="mode" type="radio" value="block"><b>DENY ALL traffic</b>
</p>

<div style="text-align:left;"><i>Except the following:</i><br></div>

<table>
  <tr>
    <td colspan="4" style="text-align: left;">
    </td>
  <tr>
  <tr>
    <th style="width: 10em;">Port</th>
    <th style="width: 5em;">Proto</th>
    <th>Restrict to IPs</th>
  </tr>
<%
for n in range(12):
    # being
%>
  <tr>
    <td>
       <select name="port_sel<%=n%>" onChange="javascript:set_port(<%=n%>)">
         <option value=""></option>
         <option value="22">ssh</option>
         <option value="80">http</option>
         <option value="443">https</option>
         <option value="25">smtp</option>
         <option value="110">pop</option>
         <option value="143">imap</option>
         <option value="995">pops</option>
         <option value="993">imaps</option>
         <option value="">OTHER</option>
       </select>
       <input type="text" name="port<%=n%>" size="3">
    </td>
    <td>
       <select name="proto<%=n%>">
         <option value="tcp">tcp</option>
         <option value="udp">udp</option>
       </select>
    </td>
    <td>
      <input type="text" name="ips<%=n%>" size="40">
    </td>
  </tr>
<%
# end
%>
</table>

<div style="text-align: left; padding-left: 1em; padding-top: 5px;">
<input type="submit" value="Set the above configuration"">
</div>

</form>

</div>

