<%
"""
$Id: global_menu.html,v 1.4 2005/02/09 20:04:04 grisha Exp $

"""
%>

<ul id="globalnav">

<%
for mi in menu_items:
    link, text, url, icon, sub = mi
    attr = "plain"
    if link == hlight:
        attr = "active"
    # begin
%>
  <li><a href="<%=url%>" class="<%=attr%>"><%=text%></a></li>
<%
# end
%>
  <li><a href="logout" class="plain" style="float: right;">Logout</a></li>
                                                                                                                                               
</ul>


