<%
"""
$Id: global_menu.html,v 1.1 2005/01/12 22:52:29 grisha Exp $

"""
%>

<ul id="portal-globalnav">

<%
for mi in menu_items:
    link, text, url, icon, sub = mi
    attr = "plain"
    if link == hlight:
        attr = "selected"
    # begin
%>
  <li id="portaltab-<%=link%>" class="<%=attr%>">
    <a href="<%=url%>" class=""><%=text%></a>
  </li>
<%
# end
%>
                                                                                                                                               
</ul>
