  
  <h4>Bandwidth Utilization Statistics  (1 gigabyte is 1073741824 bytes)</h4>

  <p>
  <table style="float: left;">
    <tr>
      <th></th><th>input</th><th>output</th><th>total</th>
    </tr>

<%

GB = 1073741824.0  # bytes in gigabyte

for d in data:
    # begin
    year, month, step, b_in, b_out = d
%>
    <tr>
      <td><%="%s %d" % (month, year) %></td>
      <td><%="%.2f Gb (%d bytes)" % (b_in*step/GB, b_in) %></td>
      <td><%="%.2f Gb (%d bytes)" % (b_out*step/GB, b_out) %></td>
      <td><%="%.2f Gb (%d bytes)" % ((b_in+b_out)*step/GB, (b_in+b_out)) %></td>
    </tr>
<%
# end
%>
  </table>

  <p>
  <img src="day_graph"><br>   
  <img src="month_graph"><br>
  <img src="quarter_graph"><br>

  <p>
  Note - the above graphs represent <em>bits per second</em>. 
  One byte is equivalent to eight bits.
